.icons{
    color: rgb(255, 180, 20);
}
.reviewComment{
    text-align: justify;
}

#rev{
    background-color: rgba(211, 245, 255, 0.849);
    /* padding: 20px; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.cllientSay{
    color: rgb(8, 8, 114);
}
.Testimonials{
    color: darkcyan;
}