.divPlaces{
    background-color: rgba(4, 196, 164, 0.815);
    padding: 3px 8px;
    border-radius: 10px;
    color: whitesmoke;
}
.divName{
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 0px #1b0404;
}